/* Footer */

.footer {
    background-color: $menu-color;
    width: 100%;
    padding: 1rem 12%;

    /* Footer  navigation*/

    .footer__navigation {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        @media screen and (min-width: 425px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* lists items */

    .footer__list-items {
        justify-self: center;
        width: 10rem;
        line-height: 2.5rem;
    }

    /* item */

    .footer__item {
        &--is-faq,
        &--is-cgu {
            text-transform: $upc;
        }
    }

    /* links */

    .footer__link {
        color: $label-color;
    }
}
